@use "../../scss/index" as *;

.about {
  @include flex-center(column);
  min-height: 100svh;
  background-color: $bg-secondary;

  @media (max-width: $smq) or (max-height: 420px) {
    padding: 2rem 0;
  }


  &__header {
    @include sectionHeader();

    &__title {
      @include sectionTitle();
    }
  }

  &__info {
    @include flex-center(row);
    gap: 2rem;
    margin-top: 2rem;
    width: 80%;

    @media (max-width: $mmq) {
      @include flex-center(column);
    }

    @media (max-width: $smq) {
      width: 90%;
    }

    &__left {
      font-size: 25px;
      width: 50%;
      background-color: $bg-code;
      padding: 1rem;
      border-radius: 10px;
      font-family: "Fira Code", monospace;

      @media (max-width: $mmq) {
        width: 100%;
      }
    }

    &__list {
      font-size: 20px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &__item {
        display: flex;
        align-items: center;
        gap: 1rem;

        &__icon {
          min-width: 24px;
          min-height: 24px;
        }
      }
    }
  }
}
/*
*   CODE STYLES    
*/

.component {
  color: goldenrod;
}

.prop {
  color: orange;
}

.value {
  color: yellowgreen;
}
