@use "../../scss/index" as *;

.about {
  @include flex-center(column);
  min-height: 100svh;
  background-color: $bg-secondary;

  @media (max-width: $smq) or (max-height: 420px) {
    padding: 2rem 0;
  }

  &__info {
    @include flex-center(row);
    gap: 2rem;
    margin-top: 2rem;
    width: 80%;

    @media (max-width: $mmq) {
      @include flex-center(column);
    }

    @media (max-width: $smq) {
      width: 90%;
    }
  }
}
