@use "../../../scss/index" as *;

.singleProjectHeader {
     &__title {
    font-size: 60px;
    color: $clr-primary;
    line-height: 1;
    font-style: italic;
  }

  &__label {
    width: fit-content;
    background: linear-gradient(to right, $bg-primary, $clr-primary, $bg-primary);
    padding: 0.25rem 2rem;
    color: $clr-black;
    font-weight: bold;
  }
}
