@use "../../scss/index" as *;

$cardWith: 325px;
$cardHeight: 300px;
$cardMediaHeight: 175px;
$borderRadiusCard: 10px;

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $clr-default;
  background-color: $bg-primary;
  width: $cardWith;
  height: $cardHeight;
  border-radius: $borderRadiusCard;
  text-decoration: none;
  position: relative;
  padding-bottom: 1rem;
  // padding: 1rem;

  &:hover {
    background-color: $bg-nav;
  }

  &:hover .link {
    text-decoration: underline;
  }

  &__title {
    font-size: 23px;
    text-decoration: none;
    color: $clr-default;
    font-style: italic;

    @media (max-width: $smq) {
      text-decoration: underline;
    }
  }

  & hr {
    width: 100%;
  }

  & iframe {
    width: $cardWith;
    height: $cardMediaHeight;
    border: none;
    border-top-left-radius: $borderRadiusCard;
    border-top-right-radius: $borderRadiusCard;
  }

  &__usedTechImgs {
    @include flex-center(row);
    gap: 0.5rem;

    &__img {
      width: 22px;
      height: 22px;
      min-width: 22px;
      min-height: 22px;
    }
  }

  &__thumbnail {
    object-fit: cover;
    opacity: 0.9;
    border-top-left-radius: $borderRadiusCard;
    border-top-right-radius: $borderRadiusCard;
  }

  &__hoverButtons {
    position: absolute;
    @include flex-center(column);
    gap: 1.5rem;
    z-index: 100;
    top: 0;
    left: 0;
    width: $cardWith;
    height: $cardHeight;
    background-color: rgba($color: $bg-nav, $alpha: 0.975);
    animation-name: opacityAnimation;
    animation-duration: 0.2s;
    border-radius: $borderRadiusCard;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
