@use "../../scss/index" as *;



.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $clr-default;
  background-color: $bg-primary;
  min-width: $projectCardWidth;
  max-width: $projectCardWidth;
  height: $projectCardHeight;
  border-radius: $projectCardBorderRadius;
  text-decoration: none;
  position: relative;
  padding-bottom: 1rem;
  overflow: hidden;
  z-index: 2;

  &[data-type="indevelopment"]::after {
    content: "IN DEVELOPMENT";
    position: absolute;
    background-color: $clr-primary;
    color: $clr-black;
    width: 150px;
    height: 20px;
    top: 2.25rem;
    right: -1.75rem;
    font-size: 14px;
    font-weight: bold;
    @include flex-center();
    transform: rotate(45deg);
  }

  &:hover {
    background-color: $bg-nav;
  }

  &:hover .link {
    text-decoration: underline;
  }

  &__title {
    font-size: 23px;
    text-decoration: none;
    color: $clr-default;
    font-style: italic;

    @media (max-width: $smq) {
      text-decoration: underline;
    }
  }

  & iframe {
    width: $projectCardWidth;
    height: $projectCardMediaHeight;
    border: none;
    border-top-left-radius: $projectCardBorderRadius;
    border-top-right-radius: $projectCardBorderRadius;
  }

    &__thumbnail {
    object-fit: cover;
    opacity: 0.9;
    border-top-left-radius: $projectCardBorderRadius;
    border-top-right-radius: $projectCardBorderRadius;
  }
}
