@use "../../scss/index" as *;

.contact {
  @include flex-center(column);
  min-height: 100svh;
  width: 100%;

  @media (max-width: $smq) or (max-height: 420px) {
    padding: 2rem 0;
  }

  &__error {
    background-color: rgb(44, 29, 27);
    color: $clr-error;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.2s ease;
  }
}
