@use "../../scss/index" as *;

$bg-clr-navigation: #181818;

.navigation {
  position: fixed;
  width: 100%;
  min-height: $navigationHeight;
  background-color: $bg-clr-navigation;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;

  @media (min-width: $smq) {
    width: 100%;
    min-height: $navigationHeight;
    background-color: $bg-clr-navigation;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
  }

    &__mobile-btn {
    display: block;
    font-size: 30px;
    color: white;
    margin-right: 1rem;

    @media (min-width: $smq) {
      display: none;
    }
  }

  &__container {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;

    @media (min-width: $smq) {
      height: auto !important;
    }
  }

  &__list {
    flex-direction: column;
    background-color: $bg-clr-navigation;
    min-width: 100%;
    text-align: center;

    @media (min-width: $smq) {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-end;
      gap: 1rem;
    }

    &__item {
      font-size: 16px;
      list-style-type: none;
      border-bottom: 2px solid transparent;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.5rem;
      font-family: "Fira Code", monospace;

      color: goldenrod;
      @media (min-width: $smq) {
        &:hover {
          color: orange;
          border-bottom: 2px solid orange;
        }
      }
    }
  }
}
