@use "../../scss/index" as *;

$extraSmallResolution: 385px;

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: 4.5rem;
  left: 0;
  background-image: url("../../assets/underline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 100%;

  @media (max-width: $mmq) {
    top: 3.5rem;
  }

  @media (max-width: $smq) {
    top: 3rem;
  }

  @media (max-width: 366px) {
    left: -2rem;
    top: 6rem;
  }
}

.intro {
  @include flex-center(row);
  // min-height: calc(100svh + $navigationHeight);
  min-height: 100svh;
  text-align: left;

  @media (max-width: $mmq) {
    @include flex-center(row);
    gap: 1rem;
  }

  @media (max-width: $extraSmallResolution) {
    padding: 2rem 0;
  }

  @media (max-height: 500px) and (max-width: $smq) {
    padding: 2rem 0;
  }

  &__info {
    margin-top: $navigationHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 70%;

    @media (max-width: $smq) {
      width: 100%;
      padding: 0 2rem;
    }

    & p:nth-child(1) {
      color: goldenrod;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      line-height: 2;

      @media (max-width: $smq) {
        font-size: 16px;
      }
    }

    &__name {
      font-size: 70px;
      line-height: 1;

      @media (max-width: $mmq) {
        font-size: 50px;
      }

      @media (max-width: $smq) {
        font-size: 45px;
      }
    }

    &__job {
      font-size: 60px;
      color: gray;
      line-height: 1.25;

      @media (max-width: $mmq) {
        font-size: 40px;
      }

      @media (max-width: $smq) {
        font-size: 35px;
      }
    }

    &__description {
      font-size: 18px;
      color: gray;
      @media (max-width: $mmq) {
        font-size: 16px;
      }

      @media (max-width: $smq) {
        font-size: 18px;
      }
    }

    &__projects-btn {
      margin-top: 2rem;
      background: none;
      border: none;
      color: white;
      outline: 2px solid white;
      padding: 0.5rem 3rem;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: orange;
        outline: 2px solid orange;
      }

      @media (max-width: $extraSmallResolution) {
        margin-top: 1rem;
      }
    }
  }
}
