@use "../../scss/index" as *;

.intro {
  @include flex-center(column);
  // min-height: calc(100svh + $navigationHeight);
  min-height: 100svh;
  text-align: left;

  &__info {
    width: 70%;

    @media (max-width: $mmq) {
    }

    & p:nth-child(1) {
      color: orange;
    }

    &__name {
      font-size: 70px;

      @media (max-width: $mmq) {
        font-size: 50px;
      }
    }

    &__job {
      font-size: 70px;
      color: gray;
      @media (max-width: $mmq) {
        font-size: 50px;
      }
    }

    &__description {
      font-size: 18px;
      color: gray;
      @media (max-width: $mmq) {
        font-size: 16px;
      }
    }

    &__projects-btn {
      margin-top: 2rem;
      background: none;
      border: none;
      outline: 2px solid white;
      padding: 0.5rem 2rem;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: orange;
        outline: 2px solid orange;
      }
    }
  }
}
