@use "../../scss/index" as *;

.contactForm {
  @include flex-center(column);
  width: 600px;
  padding: 1rem;
  gap: 1.5rem;

  @media (max-width: $smq) {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    color: $clr-default;
    caret-color: $clr-default;
    border: none;
    border-radius: 5px;
    background: rgba($color: $bg-nav, $alpha: 0.75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:focus {
      outline: 1px solid $clr-secondary;
    }
  }

  &__textarea {
    width: 100%;
    height: 200px;
    padding: 0.5rem 1rem;
    color: $clr-default;
    caret-color: $clr-default;
    resize: none;
    border: none;
    border-radius: 5px;
    background: rgba($color: $bg-nav, $alpha: 0.75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:focus {
      outline: 1px solid $clr-secondary;
    }
  }

  &__btn-submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.25rem;
    border: none;
    background: none;
    color: $clr-default;
    outline: 2px solid $clr-default;
    padding: 0.25rem 2rem;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $clr-secondary;
      outline: 2px solid $clr-secondary;
    }

    &.disabled {
      outline: 2px solid $clr-disabled;
      color: $clr-disabled;
      pointer-events: none;
      cursor: default;
    }
  }
}
