@use "../../scss/index" as *;

.socials {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 20;

  @media (max-width: 700px) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    position: relative;
    background-color: $bg-nav;
    padding: 1rem;
  }

  &__items {
    @media (max-width: 700px) {
      @include flex-center(row);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
