$clr-default: white;
$clr-primary: goldenrod;
$clr-secondary: orange;
$clr-error: tomato;
$clr-success: yellowgreen;
$clr-disabled: gray;
$clr-gray: gray;
$clr-black: black;

$bg-primary: #242424;
$bg-secondary: #2f2f2f;
$bg-nav: #181818;
$bg-code: #181818;

$navigationHeight: 70px;
$smq: 700px;
$mmq: 900px;

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
  text-align: center;
}

@mixin sectionTitle {
  font-size: 45px;
  border-bottom: 3px solid orange;
}
