@use "../../scss/index" as *;

$widthOfProject: 80%;

.project {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  &__btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: $widthOfProject;
    color: red;   
  }

  &__btn-back {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  &__btn-live-site {
    align-self: flex-start;
  }

  &__data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: $widthOfProject;
    margin-top: 1rem;

    @media (max-width: $xlg) {
      flex-direction: column;
    }

    &__left {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &__title {
        font-size: 40px;
        display: none;

        @media (max-width: $xlg) {
          display: block;
        }
      }

      &__image-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @media (max-width: $xlg) {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      &__image {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        @media (max-width: $xlg) {
          max-width: 450px;
          max-height: 250px;
        }

        @media (max-width: $smq) {
          width: 100%;
        }
      }
    }

    &__title {
      font-size: 60px;
      color: $clr-primary;
      line-height: 1;
      font-style: italic;
    }

    &__label {
      border-radius: 20px;
      background-color: $clr-default;
      color: $clr-black;
      width: 75px;
      text-align: center;
    }

    &__description {
      font-size: 18px;
      letter-spacing: 0.075rem;
      padding: 1rem 0;
      white-space: pre-wrap;
      line-height: 1.75;
    }

    &__notAvailableForPublic {
      color: $clr-error;
    }
  }

  &__usedTechImgs {
    &__title {
      font-size: 40px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    &__item {
      @include techCard();
    }
  }
}
